.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #000;
}

.paymentPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('/solo_leveling.jpg'); /* Add background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Add a semi-transparent background to the main content */
  border-radius: 10px;
}

.heading {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-style: italic;
  font-family: 'Brush Script MT', cursive;
}

.topImage {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.videoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.sideImage {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video {
  width: 100%;
  max-width: 800px;
}

